{% extends 'core/base.html.twig' %}

{% block body %}

	<section class="inner-section checkout-part">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="row">
						<div class="col-lg-12 my-2">
							<div class="card rounded-4 shadow-lg p-3">
								<div class="card-content">
									<h3 class="card-title">Delivery Address</h3>
									<span>
										<h6>{{ app.user.firstName }}
											{{ app.user.lastName }}</h6>
									</span>
									<span>{{ app.user.address }}</span>
									<span>{{ app.user.city }},
										{{ app.user.province }}
										{{ app.user.postalCode }}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-content">
									<div class="rounded-4 shadow-lg p-3">
										<h2>Order</h2>
										<hr>
										<table class="table table-hover table-list">
											<thead class="card-table card-thead">
												<tr>
													<th scope="col" class="table-title text-center">Product</th>
													<th scope="col" class="table-title text-center">Name</th>
													<th scope="col" class="table-title text-center">Unit Price</th>
													<th scope="col" class="table-title text-center">Quantity</th>
													<th scope="col" class="table-title text-center">Total</th>
												</tr>
											</thead>
											<tbody>
												{% for key, purchase in cart.purchases %}
													<tr>
														<td class="text-center card-table-data"><img src="{{asset_if(purchase.product.imagePath,'images/products/non-disponible.svg')}}" class="img-fluid product-img" style="width: 86px;"/></td>
														<td class="text-center card-table-data">{{purchase.product.nom}}</td>
														<td class="text-center card-table-data">{{purchase.product.prix}}
															$</td>
														<td class="text-center card-table-data">{{purchase.quantity}}</td>
														<td class="text-center card-table-data">{{purchase.quantity * purchase.product.prix}}
															$
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="border rounded-4 shadow-lg p-3 summary-menu">
						<div class="row">
							<h4 class="fs-3 text-start">Summary</h4>
							<hr>

							<div class="container">

								<div class="row">
									<div class="col">
										<span class="summary-title order-0">Subtotal</span>
									</div>
									<div class="col order-1 text-center">
										<span class="summary-title">{{"%.2f"|format(subtotal)}}
											$</span><br>
									</div>
								</div>

								<hr>

								<div class="row">
									<div class="col">
										<span class="summary-title order-0">TPS</span>
									</div>
									<div class="col order-1 text-center">
										<span class="summary-title">{{"%.2f"|format(tps)}}
											$</span><br>
									</div>
								</div>

								<hr>

								<div class="row">
									<div class="col">
										<span class="summary-title order-0">TVQ</span>
									</div>
									<div class="col order-1 text-center">
										<span class="summary-title">{{"%.2f"|format(tvq)}}
											$</span><br>
									</div>
								</div>

								<hr>

								<div class="row">
									<div class="col">
										<span class="summary-title order-0">Shipping Cost</span>
									</div>
									<div class="col order-1 text-center">
										<span class="summary-title">{{"%.2f"|format(shippingCost)}}
											$</span><br>
									</div>
								</div>

								<hr>

								{% if shippingCost > 0 %}
									<div class="text-center">
										<a class="btn btn-success summary-order-btn" href="{{ path("stripe-checkout") }}">Order |
											{{"%.2f"|format(total)}}
											$</a>
									</div>
								{% endif %}
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	{% block styles %}
		<link rel="stylesheet" href="{{ asset('styles/order.css') }}">
	{% endblock %}

{% endblock %}
